body {
    background-color: #eaeaea;
}

.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    padding-bottom: 10px; 
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.fa-shopping-cart{
    font-size: 20px;
    padding: 4px;
}

/* Adjusted CSS for sidebar */
#sidebar {
    background-color: #000; /* Change background color */
    color: #fff; /* Text color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border radius */
}

#sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px; /* Add margin between list items */
}

#sidebar ul li a {
    color: #eaeaea; /* Text color for links */
    text-decoration: none; /* Remove underline */
}

#sidebar ul li a:hover {
    color: #8cb4fa; /* Change color on hover */
}

.link {
    font-weight: bold; /* Make links bold */
}

.link-desc {
    font-size: 14px; /* Adjust font size for description */
    opacity: 0.8; /* Adjust opacity for description */
}

.management-box {
    display: inline-block; 
    width: 250px; /* Set a fixed width for all management boxes */
    margin: 10px; 
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #212529;
    text-decoration: none;
    transition: all 0.3s ease;
}


.management-box:hover {
    background-color: #007bff;
    color: #fff;
}

