<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Address Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
    <link href="/css/address.css" rel="stylesheet">
  
</head>
<body>

<div class="container">
	<h2 class="text-center mb-4">Address Form</h2>
  <div class="row mx-0 justify-content-center">
    <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
      <form method="POST" class="w-100 rounded-1 p-4 border bg-white" action="your_action_endpoint_here">
        <!-- <label class="d-block mb-4">
          <span class="form-label d-block">Your name</span>
          <input name="name" type="text" class="form-control" placeholder="Jane Doe" required>
        </label> -->

        <label class="d-block mb-4">
          <span class="form-label d-block">Address line 1</span>
          <input name="address1" type="text" class="form-control" placeholder="" required>
        </label>

        <!-- <label class="d-block mb-4">
          <span class="form-label d-block">Address line 2</span>
          <input name="address2" type="text" class="form-control" placeholder="">
        </label> -->

        <label class="d-block mb-4">
          <span class="form-label d-block">City</span>
          <input name="city" type="text" class="form-control" placeholder="" required>
        </label>

       <!--  <label class="d-block mb-4">
          <span class="form-label d-block">State/Province</span>
          <input name="state" type="text" class="form-control" placeholder="" required>
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Zip/Postal code</span>
          <input name="zip" type="text" class="form-control" placeholder="" required>
        </label> -->

        <label class="d-block mb-4">
          <span class="form-label d-block">Country</span>
          <input name="country" type="text" class="form-control" placeholder="" required>
        </label>

       <!--  <label class="d-block mb-4">
          <span class="form-label d-block">Telephone</span>
          <input name="telephone" type="text" class="form-control" placeholder="">
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Delivery information</span>
          <textarea name="message" class="form-control" rows="3" placeholder="floor/door lock code/etc."></textarea>
        </label> -->

        <div class="mb-3">
          <button type="submit" class="btn btn-primary px-3 rounded-3">Save</button>
        </div>

        

      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
