<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title>TechAtHome | Admin Panel</title>
	<script src="/js/category-management.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/category-management.css">
</head>
<body>

<div layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/admin/user-management" class="management-box">
                <h3>User Management</h3>
                <p>Add, delete and update the users</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/admin/category-management" class="management-box">
                <h3>Category Management</h3>
                <p>Add, delete and update the categories</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/admin/subcategory-management" class="management-box">
                <h3>Subcategory Management</h3>
                <p>Add, delete and update the subcategories</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/admin/brand-management" class="management-box">
                <h3>Brand Management</h3>
                <p>Add, delete and update the brands</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/admin/product-management" class="management-box">
                <h3>Product Management</h3>
                <p>Add, delete and update the products</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/admin/order-management" class="management-box">
                <h3>Order Management</h3>
                <p>Add, delete and update the orders</p>
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>
