<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechAtHome Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>TechAtHome Admin Panel</h1>
    <p>This is where you can manage categories, subcategories, products, customers, and orders.</p>
</div>
<div class="pull-right">
    <!-- Back to Admin Panel Button -->
    <a href="/" class="btn btn-primary">Back to Home Page</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><a href="/user-management">User Management</a></h3>
            <p>Add, delete and update the users</p>

        </div>
        <div class="col-sm-4">
            <h3><a href="/category-management">Category Management</a></h3>
            <p>Add, delete and update the categories</p>

        </div>
        <div class="col-sm-4">
            <h3><a href="/subcategory-management">Subcategory Management</a></h3>
            <p>Add, delete and update the subcategories</p>

        </div>
        <div class="col-sm-4">
            <h3><a href="/product-management">Product Management</a></h3>
            <p>Add, delete and update the products</p>

        </div>
        <div class="col-sm-4">
            <h3><a href="/order-management">Order Management</a></h3>
            <p>Manage the orders</p>

        </div>

    </div>
</div>

</body>
</html>
