<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title>TechAtHome|Home</title>
  	<link rel="stylesheet" href="css/cart.css">
	<script src="/js/cart.js"></script>
	<script src="/js/cart-page.js"></script>
</head>
<body>

<div layout:fragment="content">
<div class="container">
  <div class="row">
    <div class="col-md-12" style="display:none;" id="emptyCartDiv">
    	<br>
    	<br>
    	<h3>No products in cart.</h2>
    </div>
    <div class="col-md-12" id="cartDiv">
    <br><br>
      <h2>My Cart</h2>
      <div class="pull-right">
        
       
      </div>
      <br><br>
      <table id="cartTable" class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Item Price</th>
            <th>Total</th>
        
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Cart will be populated here -->
        </tbody>
      </table>
      <div class="text-center">
    <a href="/" class="btn btn-primary">Back</a>
    <span style="margin: 0 20px;"></span>
    <a href="checkout" class="btn btn-primary">Purchase</a>
</div>
    </div>
  </div>
</div>
</div>


</body>
</html>